<div class="container">
	<div class="logo">
		<a href="/">
			<img src="/images/logo.png" alt="Yorb.it" title="Yorb.it Logo" />
		</a>
	</div>
	<div class="navigation-button" id="trigger-overlay">
		<img src="/images/menu_button.png" />
	</div>
</div>
