<!--[if lt IE 9]>
    <div class="browser-check not-available">
        You are currently using a browser that <strong>does not support</strong> technology used by this website.<br />Please <a href="http://browsehappy.com/">upgrade your browser</a> to be able to view this site.
    </div>
<![endif]-->
<!--[if lt IE 10]>
    <div class="browser-check">
        You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    </div>
<![endif]-->


<div class="overlay overlay-door">
	<div class="close_button">
		<a href="#" class="close_navigation overlay-close" onclick="return false;">X</a>
	</div>
	<nav class="navigation">
    <ul>
      <li><a href="/" title="Home">Home</a></li>
      <li><a href="/step-1" title="Create A Map">Create A Map</a></li>
    </ul>
	</nav>
</div>
