<div class="share-overlay">
  <div class="close_button">
    <a href="#" class="close_navigation">X</a>
  </div>
  <div class="container">
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox">
      <a class="addthis_button_facebook">
        <img src="/images/social_facebook.png" alt="Share" />
      </a>
      <a class="addthis_button_twitter">
        <img src="/images/social_twitter.png" alt="Share" />
      </a>
      <a class="addthis_button_tumblr">
        <img src="/images/social_tumblr.png" alt="Share" />
      </a>
      <a class="addthis_button_email">
        <img src="/images/social_email.png" alt="Share" />
      </a>
    </div>
    <script type="text/javascript">
      var addthis_config = {
        data_track_addressbar: false
      };
      var addthis_share = {
        title: "Look at what was created on Yorbit.",
        description: "Click this link to view this canvas that was created with Yorbit."
      };
    </script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-534f30e029418f6a"></script>
    <!-- AddThis Button END -->
  </div>
</div>
