<div class="error-display">
  <div class="error-content">
    <div class="error-number">
      404
    </div>
    <div class="error-text">
      <% if (typeof error!== 'undefined') { %>
        <%= error %>
      <% } else { %>
        The page you were trying to reach doesn't exist.
      <% } %>
    </div>
  </div>
</div>
