@import "../variables";

.ui-widget {
	@include sourcesans;
	font-size: 1.1em;
}

.ui-datepicker {
	width: 20em;
	padding: .2em .2em 0;
	display: none;
	@include border-radius(4px);
	background: $darkgrey;

	.ui-datepicker-header {
		position: relative;
		padding: .2em 0;
	}
	.ui-datepicker-title {
		margin: 0 2.3em;
		line-height: 1.8em;
		text-align: center;
	}
	.ui-datepicker-prev, .ui-datepicker-next {
		position: absolute;
		top: 2px;
		width: 1.8em;
		height: 1.8em;
		cursor: pointer;
		background: none;
		@include border-radius(4px);

		span {
			display: block;
			position: absolute;
			left: 50%;
			margin-left: -8px;
			top: 50%;
			margin-top: -8px;

			&.ui-icon {
				width: 16px;
				height: 16px;
				text-indent: -99999px;
				overflow: hidden;
				background-repeat: no-repeat;
			}
		}
		&:hover {
			background-color: darken($blue, 10%);
		}
	}
	.ui-datepicker-prev {
		left: 2px;
		@include retina(calendar_left, png);
		background-repeat: no-repeat;
		background-position: center;
	}
	.ui-datepicker-next {
		right: 2px;
		@include retina(calendar_right, png);
		background-repeat: no-repeat;
		background-position: center;
	}
	table {
		width: 100%;
		font-size: .9em;
		border-collapse: collapse;
		margin: 0 0 .4em;

		th {
			padding: .7em .3em;
			text-align: center;
			font-weight: bold;
			border: 0;
		}
		td {
			border: 0;
			padding: 1px;
			@include sourcesans(300);

			a {
				display: block;
				padding: .2em;
				text-align: right;
				text-decoration: none;
				cursor: pointer;

				&:hover {
					background: darken(#e6e6e6, 10%);
				}
			}
		}
	}
	
}
.ui-widget-header {	
	border: none;
	background: $blue;
	color: white;
	font-weight: bold;

	a {
		color: #222;
		pointer: cursor;
	}
}
.ui-widget-content {
	border: 2px solid $blue;
	background: $darkgrey;
	color: $lightblue;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3;
	//background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
	background: #e6e6e6;
	font-weight: normal;
	color: #555555;
}
.ui-state-disabled {
	cursor: default !important;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter: Alpha(Opacity=35);
	background-image: none;
}
.ui-helper-clearfix {
	min-height: 0;
	support: IE7;

	&:before, &:after {
		content: "";
		display: table;
		border-collapse: collapse;
	}
	&:after {
		clear: both;
	}
}